[Unit]
Description=Billtracka backend
After=network.target

[Service]
WorkingDirectory=/home/jojo/billtracka_backend
Environment=PORT=4000
ExecStart=/home/jojo/.nvm/versions/node/v21.4.0/bin/node /home/jojo/billtracka_backend/dist/server.js
Restart=always

[Install]
WantedBy=multi-user.target

